<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Property Site</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<h1>Property Site</h1>
		
		<p>Select Criteria</p>
			<br>
			<br>
		<%= form_tag(url_for(:action => "results")) do -%>
			
			<%=label_tag "min_price", "Select Min Price" %>
			<%=select_tag "min_price", options_for_select([ 1000, 20000, 300000 ]) %>
			<br>
			<br>
			<%=label_tag "max_price", "Select Max Price" %>
			<%=select_tag "max_price", options_for_select([ 1000, 20000, 300000 ]) %>
			<br>
			<br>
			<%=label_tag "commute_destination", "Select commute destination:" %>
			<%=select_tag "commute_destination", options_for_select(["53.3376,-6.2658"]) %>
		  <div><%= submit_tag "Submit" %></div>	  
		<% end -%>
	</body>
</html>
