	<% content_for :head do %>
			<%= javascript_include_tag "http://www.openlayers.org/api/OpenLayers.js" %>								
	<% end %>
	
	

<body onload="mapObj.mapGenerate();" >
		
		<h1>Results</h1>
			
					<div class="row-fluid">
						<div class="span6" id="results_left_column">																					
								<p>	Commute destination = <%= params[:commute_destination] %></p>
											<table class="table table-bordered">			
													<thead>
														<tr>
														<th>Rank</th>
														<th>ID</th>
														<th> Address</th>
														<th> Price</th>
														<th> Location</th>
														<th> Total Score</th>
														<th> Match Score</th>
														<th> Commute Time Score</th>
														<th> Commute Time to work duration (minutes)</th>
														<th> Commute Time from work duration (minutes) </th>
														<th> Amenity Score </th>
														</tr>
													</thead>	
													<tbody>				
													
													<% temp_array=[] %>
													
													<% @properties.each_with_index do |property, index| %>
															<tr>
																<td> <%=index + 1%> </td>
																<td> <%= property.id %> </td> 
																<td> <%= property.address %> </td> 
																<td><%= property.price %> </td>									
																<td> <%= i = property.longitude %>, &nbsp <%= j = property.latitude %> </td>																
																<td> <%= number_with_precision property.total_score, :precision => 2 %></td>																		
																<td> <%= property.match_score %></td>																		
																<td> <%= number_with_precision property.commute_score, :precision => 2 %></td>																		
																<td> <%= number_with_precision property.commute_time_to, :precision => 2  %> </td>									
																<td> <%=  number_with_precision property.commute_time_from, :precision => 2 %> </td> 
																<td> <%=  number_with_precision property.properties_amenities.select(:amenity_score).first.amenity_score, :precision => 2 %> </td> 
															</tr>																	
															<% temp_array << [i.to_f,j.to_f] %>
													<% end %> 
													</tbody>
												</table>	
						</div>				
						
						<%= javascript_tag "mapObj.initResultsMap(#{temp_array})" %>			
						
						<div class="span6"  id="results_right_column" >		
								<div id="map_canvas" ></div>			
						</div>
			</div>				
	</body>
		