<h1>Results</h1>

<p>Results</p>
	<br>
	<br>	
<% @properties.each do |property| %>
  	<p> Address:
	<%= property.address %>
	</p>
	<p> Price:
	<%= property.price %>
	</p>
	
	<p> Location:
	<%= property.longitude %>&nbsp<%= property.latitude %>
	</p>
	
	<p> Commute Time duration:
	<%= @durations[0] %>
	</p>
	
<% end %>

</div>